{% extends "base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col-sm-10 col-lg-8">
      <div class="card border-success mb-3">
        <div class="card-header">
          <h1 class="text-success">{% trans "Sign In" %}</h1>
        </div>
        <div class="card-body">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}