{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col-sm-10 col-lg-8">
      <div class="card border-success mb-3">
        <div class="card-header">
          <h1 class="text-success">{% trans "Sign Up" %}</h1>
        </div>
        <div class="card-body">
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
              in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
              {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}