@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand',arial, sans-serif;
}

/* Header and logo */

h1, h2 {
    font-family: 'Roboto', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    }

#logo {
    font-size: 3rem;
}