@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand',arial, sans-serif;
    font-size: 3vw;
}

/* Header and logo */

h1, h2 {
    font-family: 'Roboto', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(34, 156, 54, 0.5);
    color: yellow;
    }

#logo {
    font-size: 4vw;
}

header a, header a:visited {
    color: yellow;
    text-decoration: none;
}

/* Hero Image */

#hero-image {
    background: url(../images/widescreen.jpg) no-repeat center top;
    height: 100%;
}

/* Navigation Links */

#menu {
    font-size: 3vw;
    text-align: right;
    }

#menu li {
    display: inline-block;
    list-style-type: none;
    padding: .5rem;
}

#menu a:hover {
    background-color: yellow;
    color:rgb(34, 156, 54);
}

#main-image {
    min-height: 200px;
    position: relative;
}

#tagline {
    color: yellow;
    background-color:rgba(34, 156, 54, 0.5);
    bottom: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* Main Content */

#main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: yellow;
    width: 80vw;
    text-align: center;
}

#center-circle {
    height: 30px;
    width: 30px;
    border: 2px solid rgb(34, 156, 54);
    border-radius: 50%;
    margin: 0 auto;
}

#circle-image {
    background-image: url(../images/c25k.png);
    height: 30px;
    width: 30px
    border-radius: 50%;
    margin: 0 auto;
}

