{% extends 'base.html' %}

{% block content %}
    <h1>Current Runs</h1>
    <table>
        <tr>
            <th> Title </th>
            <th> Location </th>
            <th> Date </th>
            <th> Time </th>
            <th> Leader </th>
            <th> Details </th>
        </tr>
        {% for run in run_list %}
        <tr>
            <td> {{ run.title }} </td>
            <td> {{ run.location }} </td>
            <td> {{ run.date }} </td>
            <td> {{ run.time }} </td>
            <td> {{ run.leader.first_name }} </td>
            <td> {{ run.details }} </td>
            {% if request.user.groups.all.0.name == 'leader' %}
                <td><a href="{% url 'run_update' run.id %}">Edit</a></td>
                <td><a href="{% url 'run_delete' run.id %}">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated %}
    <a href="{% url 'run_create' %}">Add a run</a>
    {% endif %}
{% endblock %}