{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to c25k</h1>
    <p>Intro paragraph</p>
        {% if user.is_authenticated %}
            <table>
                <tr>
                    <th>Run</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                {% for run in run_list %}
                    {% if forloop.counter <= 5 %}
                        <tr>
                            <td>{{ run.title }}</td>
                            <td>{{ run.date }}</td>
                            <td>{{ run.time }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
{% endblock %}