{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to c25k {{ user.first_name }}</h1>
            <p>This is a 9 week course to get you from complete beginner to running 30 minutes comfortably.
                Our run leaders will be there to guide you each week. Use this app to find out when guided sessions
                are taking place, find the right session for you each week, and sign up to let the leaders know you
                plan to join them.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Upcoming Runs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>Date</th>
                        {% if user.is_authenticated %}
                        <th>Signed Up?</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for run in run_list %}
                    {% if forloop.counter <= 5 %}
                    <tr>
                        <td>{{ run.title }}</td>
                        <td>{{ run.date }}</td>
                        {% if user.is_authenticated %}
                        <td>
                            {% if user.id in run.signed_up %}
                            <i class="fas fa-running bg-success"></i>
                            {% else %}
                            <i class="fas fa-running bg-danger"></i>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% empty %}
                    <p>No current runs</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if not user.is_authenticated %}
            <p>Please log in to access the run details page.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}