{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for details in profile %}
    <div class="row py-2">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <div class="card border-success mb-3">
                <div class="card-header">
                    <h2 class="text-success">User Profile for {{ details.user.first_name }} {{ details.user.last_name }}
                    </h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>DOB:</th>
                                <td>{{ details.DOB }}</td>
                            </tr>
                            <tr>
                                <th>ICE:</th>
                                <td>{{ details.ICE }}</td>
                            </tr>
                            <tr>
                                <th>Medical:</th>
                                <td>{{ details.medical }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{% url 'profile_update' details.id %}" class="btn btn-success">Update Details</a>
                    <a href="{% url 'profile_delete' details.id %}" class="btn btn-danger">Delete Profile</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row py-3">
        <div class="col-12">
            <a href="{% url 'profile_create' %}" class="btn btn-success">Create Your Profile</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}