{% extends 'base.html' %}

{% block content %}
{% for details in profile %}
<h2>User Profile for {{ details.user.first_name }} {{ details.user.last_name }}</h2>
<div class="row">
    <div class="col-12">
        <table class="table">
            <tbody>
                <tr>
                    <th>First Name:</th>
                    <td>{{ details.user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>{{ details.user.last_name }}</td>
                </tr>
                <tr>
                    <th>email:</th>
                    <td>{{ details.user.email }}</td>
                </tr>
                <tr>
                    <th>DOB:</th>
                    <td>{{ details.DOB }}</td>
                </tr>
                <tr>
                    <th>ICE:</th>
                    <td>{{ details.ICE }}</td>
                </tr>
                <tr>
                    <th>Medical:</th>
                    <td>{{ details.medical }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{% url 'profile_update' details.id %}" class="btn btn-secondary">Update Details</a>
        <a href="{% url 'profile_delete' details.id %}" class="btn btn-danger">Delete Profile</a>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'profile_create' %}" class="btn btn-secondary">Create Your Profile</a>
    </div>
</div>
{% endfor %}


{% endblock %}