{% extends 'base.html' %}

{% block content %}
{% if request.user.groups.all.0.name == 'leader' %}
<div class="container">
    <div class="row py-3">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            
            <div class="alert alert-warning" role="alert">
                <h2>WARNING: Do you really want to delete?</h2>
                <form method="post">
                    <div>
                        <h3>Run : {{ run.title }}</h3>
                        {% csrf_token %} {{ form.as_p }}
                        <input type="submit" class="btn btn-secondary" value="Yes">
                        <a href="{% url 'run_list' %}" class="btn btn-warning">Return to Safety</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% else %}
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <p>You must be a leader to access this form</p>
            <a href="{% url 'run_list' %}">Return to run list</a>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}