{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row py-2">
        <div class="col-sm-8 col-lg-6">
            {% if request.user.groups.all.0.name == 'leader' or request.user.is_superuser %}
            <div class="card border-success mb-3">
                <div class="card-header bg-white">
                    <h2 class="text-success">Edit Run</h2>
                </div>
                <div class="card-body text-dark">
                    <form method="post">
                        <div>
                            {% csrf_token %}

                            {{ form.as_p }}
                            <input type="submit" value="Submit" class="btn btn-warning">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <p>You must be a leader to access this form</p>
            <a href="{% url 'run_list' %}">Return to run list</a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}