{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <div class="container">
        <div class="row py-2">
            <div class="col-sm-6">
                <h1 class="text-success">Current Runs</h1>
            </div>
            <div class="col-sm-6">
                {% if request.user.groups.all.0.name == 'leader' %}
                <a href="{% url 'run_create' %}" class="btn btn-success">Add a run</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for run in run_list %}
        <div class="col-sm-6 col-lg-4 my-2">
            <div class="card border-success mb-3">
                <div class="card-header">
                    {{ run.title }}
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title text-success">Date: {{ run.date }} | Time: {{ run.time }}</h5>
                    <p class="card-text">Location: {{ run.location }}</p>
                    <p class="card-text">Leader: {{ run.leader.first_name }}</p>
                    <p class="card-text">Details: {{ run.details }}</p>
                    <div class="card-text">Signed Up?
                        <form action="{% url 'run_join' run.id %}" method="POST">
                            {% csrf_token %}
                            {% if user.id in run.signed_up %}
                            <button type="submit" class="btn-success" name="run_id" value="{{run.id}}">
                                <i class="fas fa-running">In</i>
                            </button>
                            {% else %}
                            <button type="submit" class="btn-danger" name="run_id" value="{{run.id}}">
                                <i class="fas fa-running">Out</i>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% if request.user.groups.all.0.name == 'leader' %}
                <div class="card-footer text-muted">
                    <h5>Signed up: {{ run.num_of_runners }} </h5>
                    <ul>
                        {% for runner in run.take_register %}
                        <li>{{ runner.0 }} {{ runner.1 }}</li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a href="{% url 'run_update' run.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'run_delete' run.id %}" class="btn btn-danger">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>No current runs</p>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <p>Please log in</p>
        </div>

    </div>
</div>

{% endif %}

{% endblock %}